html {
  height: 100%;
  width: 100%;
}
body {
  height: 150%;
  width: 150%;
  background-color: rgba(10, 150, 200, 0.2);
  /*background: -webkit-radial-gradient( 0% 0%, blue, yellow);*/

  background-size: 2000px, 2000px;
  background-position: left;
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% 20%;

}
.fixedPos {
  position: fixed;
}
.header {
  position: fixed;
  top: 0;
  height: 10%;
  width: 90%;
  left: 5%;
  background-color: rgba(9,9,9,0.2);
  text-align: center;
  color: white;
}
body {
  font-family: 'Stoke', serif;
}
.svg-canvas {
  /*position: fixed;*/
  width: 150%;
  height: 150%;
  left: 5%;
  top: 5%;
  border: solid 1px black;
}

.info-panel {
  position: fixed;
  width: 15%;
  left: 85%;
  top: 20%;
  height: 65%;
  background-color: rgba(10, 10, 10, 0.3);
  color: white;

}

.node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;

  text-align: center;
}

.button {
  /*background-color: rgba( 200, 200, 200, 0.4);*/
  color: white;
  padding: 5%;
  margin-right: 40%;
  border-radius: 50%;
  text-align: center;
}
.button:hover {
  box-shadow: 0px 0px 60px white;
  /*background-color: black;*/
}

.link {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.sidebar {

  position: fixed;
  background-color: rgba(10, 10, 10, 0.3);
  color: white;
  width: 20%;
  left: 0%;
  top: 20%;
  /*height: 60%;*/
  width: 15%;

}

.sidebar ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  /*text-align: center;*/
}
.sidebar ul li {
  list-style: none;
  flex: 1;
}
